/*backgrounds*/


.pageOne {
  padding: 50px;
}


#matrix{
  height: auto;

  max-width: 100%;
  border-radius: 5em;
}
#space{

  margin-top: 3em;

}

figure:first-child{
  position: relative;
}
figurecaption{
  font-family: "Poiret One", cursive;
  font-size: 2em;
}

/* General Design */
h1 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  margin-top: 1.5em;
  font-size: 2em;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  margin-bottom: 2em;
  text-align: center;
}

blockquote {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em;
}

cite {
  font-family: 'Raleway', sans-serif;
}

.divider {
  display: block;
  margin: auto;
  width: 100%
}

footer {
  font: gray;
  font-size: 0.5em;
  text-align: center;
  padding: 1.2em;
  background-color: gainsboro;
  width: 100%;
}

section {
  padding-top: 1em;
}
/*Nav Bar styles*/

.nav {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;

  padding-top: 0.6em;
  z-index: 2;

}

nav {
  margin: 0 auto;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    text-align: center;
    border-bottom: 1px solid black;
}

.navlist {
    display: inline-block;

}

.navlist a {
    font-family: 'Poiret One', cursive;
    color: black;
    background-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3em;

}

.navlist a:hover {
  border: 1px solid;
  border-radius: 0px 10px 0px 10px;
}

.navlist a:focus {
  text-decoration: underline;
}

@media (max-width: 600px) {
  nav {
    width: 100%;
  }
  .navlist a {
    font-size: 12px;
  }
}

/*Contact form*/
body{
  max-width: 80em;
  margin: 0 auto;
  background: white;
}

label {
  display: block;
  padding: 0.5em;
}

ul{
  list-style-type: none;
}
.inputHolder{
  max-width: 40.5em;
  margin: auto;
}

form{
  margin: 0.5em;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  text-align: left;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: gainsboro;

}

input {
  width: 90%;
  padding: 12px 20px;
}

input[type=submit]{
  margin-top:3em;
  border: 1px solid black;
  border-radius: 2em;
}

input[type=submit]:hover{
  cursor: pointer;
}

input:focus {
    border: 3px solid #555;
}

textarea {
  width: 90%;
  padding: 12px 20px;

}

textarea:focus {
  border: 3px solid #555;

}

/*About Section*/
.section_logos {
  width: 40%;
  height: 40%;
  display: inline-block;
  margin: 3%;
}

figure {
  text-align: center;
}

.figure_icons {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.section_logos_html {
  margin-top: 15%;
}

.modal{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index:3;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2em;
  overflow: auto;
}

@keyframes animatetop{
  from {top:-20em; opacity: 0;}
  to {top:0; opacity 1;}
}

.close{
  float: right;
  font-size: 2em;
  top: 0;

}

.modalcontent{
    background-color: white;
    margin: 15% auto;
    width: 80%;
    border-radius: 2em;
    padding: 0;
    animation-name: animatetop;
    animation-duration: 2s;

}
.modalcontent p {
  text-align: center;
}

.modalcontent h1 {
  width: 100%;
  background: black;
  color: white;
  font-size: 3em;

}
.modalimages{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.modalimages img {
  width: 4em;
  height: 4em;
}

/*Team Section*/

.section_team_members {
  width: 40%;
  border-radius: 50%;
  border: 3px solid #E49160;
  display: inline-block;
  margin: 4%;
}
