body{
  max-width: 40.5em;
  margin: 0 auto;
  background: red;
}

label {
  display: block;
}

ul{
  list-style-type: none;
}
.inputHolder{
  max-width: 40.5em;
  margin: auto;
}



form{
  margin: 0.5em;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
}
