* {
  box-sizing: border-box;
}

/*backgrounds*/



#contact {
  background-color: #A1BDAB;
}

#about {
  padding: 15px;
  background-color: #A1BDAB;
  width: 100%;
}
/*home landing page*/

#codepic {

  max-width: 80%;
  height: auto;
  border-radius: 5em;
  margin-top: 1.5em;
}

#home{
  margin-top: 5em;
}

figurecaption{
  font-family: "Poiret One", cursive;
  color: white;
  font-size: 2.5em;
  margin: auto;
  background-color: black;
  display: block;
  max-width: 50%;
  border-radius: 2em;
  padding: 0.3em;
}
@media screen and (max-width: 40em){

  figurecaption{
    font-size: 1em;
  }

}


/* General Design */
.section_title {
  font-family: 'Poiret One', cursive;
  text-align: center;
  margin-top: 1em;
  font-weight: 900;
  font-size: 2.5em;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  margin-bottom: 2em;
  text-align: center;
}

blockquote {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em;
}

cite {
  font-family: 'Raleway', sans-serif;
  margin-left: 2em;
}

.divider {
  display: block;
  margin: auto;
  width: 100%
}

footer {
  font: white;
  font-size: 0.5em;
  text-align: center;
  padding: 1.2em;
  background-color: #E49160;
  width: 100%;
}

section {
  padding-top: 1em;
}

/*Nav Bar styles*/
nav{position: fixed;
width: 100%;
top: 0;
z-index: 5;
}

.navbar {
    list-style-type: none;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid black;
    background: white;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navlist {
    font-size: 1.2em;
    display: inline-block;
    width: 20%;
}

.navlist a {
    font-family: 'Poiret One', cursive;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
}

.navlist a:hover {
  border: 1px solid;
  border-radius: 0px 10px 0px 10px;
  background-color: #A1BDAB;
}

/*.navlist a:focus {
  text-decoration: underline;
} */

@media screen and (max-width: 40em) {
    .navlist{
      font-size: 0.7em;
    }
}

/*Contact form*/
body{
  max-width: 100vw;
  margin: 0 auto;
  background: white;
}

label {
  display: block;
  padding: 0.5em;
}


.inputHolder{
  max-width: 40.5em;
  margin: auto;
}

form{
  margin: 0.5em;
  border-radius: 10px;
  text-align: center;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #A1BDAB;

}

input {
  width: 90%;
  padding: 12px 20px;
}

input[type=submit]{

  border: 1px solid black;
  border-radius: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

input[type=submit]:hover{
  cursor: pointer;
}

input:focus {
    border: 3px solid #555;
}

textarea {
  width: 90%;
  padding: 12px 20px;

}

textarea:focus {
  border: 3px solid #555;

}

/*About Section*/
.section_logos {
  font-size: 0;
  display: inline-block;
}

figure {
  text-align: center;
}
.pageOne {

  height: 100vh;
  background-color: #A1BDAB;
  width: 100%;
  position: relative;
  overflow: auto;
}
.figure_icons {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 5em;
}

.section_logos_js {
  width: 45%;
  height: 45%;
}

.section_logos_node {
  width: 40%;
  height: 40%;
}

.section_logos_html {
  width: 40%;
  height: 40%;

}

.section_logos_css3 {
  width: 30%;
  height: 30%;

}

@media screen and (min-width: 600px) {

.section_title{font-size: 3em;}
.section_text{font-size: 2em;}

  .figure_icons {
    margin-top: em;
  }

  .section_logos_js {
    width: 22%;
    height: 22%;
  }

  .section_logos_node {
    width: 20%;
    height: 20%;
  }

  .section_logos_html {
    width: 20%;
    height: 20%;
  }

  .section_logos_css3 {
    width: 15%;
    height: 15%;
  }
}

.modal{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index:3;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2em;
  overflow: auto;

  animation-name: animatetop;
  animation-duration: 0.4s;

}

@keyframes animatetop{
  from {top:-20em; opacity: 0;}
  to {top:0; opacity 1;}
}

.close{
  float: right;
  font-size: 3em;
  font-weight: bold;
  top: 0;
  color: black;
  position: relative;
  top: -4em;
  bottom: 0em;

}
.close:hover, .close:focus{
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modalcontent{
    background-color: white;
    margin: 15% auto;
    width: 80%;
    border-radius: 2em;
    padding: 0;
}

.modalcontent p {
  text-align: center;
}

.modalcontent h1 {
  width: 100%;
  background: black;
  color: white;
  font-size: 3em;
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
  text-align: center;
  font-family: "Poiret One", cursive;
}

.modalimages{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.modalimages img {
  width: 4em;
  height: 4em;

}

.modalimages img:hover{
    cursor: pointer;
}


.section_team_members:hover{
  -webkit-transform:scale(1.15); /* Safari and Chrome */
  -moz-transform:scale(1.15); /* Firefox */
  -ms-transform:scale(1.15); /* IE 9 */
  -o-transform:scale(1.15); /* Opera */
   transform:scale(1.15);
  transition: 0.3s ease-in-out;
  background-color: #C37500;
 opacity:0.7 !important;
 filter:alpha(opacity=70) !important; /* For IE8 and earlier */
 box-shadow: 0 0 0px #000000 !important;
}

/*Team Section*/



.section_team_members {
  width: 40%;
  border-radius: 50%;
  border: 3px solid #E49160;
  font-size: 0;
  display: inline-block;
  margin: 2% 2% 0% 2%;
}


@media screen and (min-width: 600px) {
  .section_team_members {
    max-width: 300px;
  }
}
